{% extends "base.html" %}

{% load static %}

{% block title %}
    Trang quản lý
{% endblock %}

{% block link_css %}
<link rel="stylesheet" href="{% static 'homeManager.css' %}">
{% endblock %}


{% block content %}
<main>
    <div class="menu">
      <div class="menu-item"><a href="/manager">Quản lý tài khoản</a></div>
      <div class="menu-item"><a href="/createuser">Thêm tài khoản</a></div>
      <div class="menu-item"><a href="/parking_history">Xem lịch sử gửi xe</a></div>
      <div class="menu-item"><a href="{% url 'logout' %}">Đăng xuất</a></div>
      </div>
    <div class="container-content">
      <div class="container-search">
        <input type="text" id="search" name="search" class="input-search" placeholder="Nhập thông tin cần tìm">
        <input type="button" id="button" name="button" class="button-search" value="Tìm kiếm">
      </div>
        <table>
            <thead>
              <tr>
                <th>STT</th>
                <th>Tên người dùng</th>
                <th>Số điện thoại</th>
                <th>Địa chỉ</th>
                <th>Biển số xe</th>
                <th>Chi tiết</th>
                <th>Chặn</th>
              </tr>
            </thead>
            <tbody>
              {% for user in user_data %}
              <tr>
                <td>{{ forloop.counter}}</td>
                <td>{{ user.name}}</td>
                <td>{{ user.phone}}</td>
                <td>{{ user.address}}</td>
                <td><a href="/details/{{ user.id }}"><img src="{% static 'image/details.png' %}" alt=""></a></td>
                <td><a href="{% url 'user_update' user.id %}"><img src="{% static 'image/icon-info.png' %}" alt=""></a></td>
                <td><a href="{% url 'user_delete' user.id %}"><img src="{% static 'image/icon-block.png' %}" alt=""></a></td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
    </div>
</main>
{% endblock %}